#logo {
  text-decoration: none;
  color: black;
  background-color:gray;
  padding: 35px 35px 50px 35px;
  border: 10px solid white;
  display: inline-block;
  float:left;
  width:20%;

}

nav a {
  text-decoration: none;
  color: black;
  background-color:gray;
  padding: 35px 35px 50px 35px;
  border: 10px solid white;
  display: inline-block;
  float:right;

}


article {
    clear:both;
    height:600px;
    background-color:gray;
    border: 10px solid white;
    width:20%;
    float:left;
 

}

#Top {

    height:200px;
    background-color:gray;
    border: 10px solid white;
    width:77%;
    float:right;
 

}






#Top1 {

    height:200px;
    background-color:gray;
    border: 10px solid white;
    width:50%;
    float:left;
 

}

#Top2 {

    height:200px;
    background-color:gray;
    border: 10px solid white;
    width:25%;
    float:right;
 

}



#Middle1 {
    float:right;
    width:18.2%;
    height:155px;
    background-color:gray;
    border: 10px solid white;

}

#Middle2 {
    float:right;
    width:18.2%;
    height:155px;
    background-color:gray;
    border: 10px solid white;

}

#Middle3 {
    float:right;
    width:18.2%;
    height:155px;
    background-color:gray;
    border: 10px solid white;


}

#Middle4 {
    float:right;
    width:18.2%;
    height:155px;
    background-color:gray;
    border: 10px solid white;


}


#Footer {
    background-color:gray;
    clear:both;
    border: 10px solid white;


}