<!DOCTYPE html>
<html>
<head>
	<title>Layout 5 | Magazine </title>
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>

<div id="container">
	<header></header>
	
	<nav>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>

	<section id="leftSideBar"></section>

	<section id="topSection"></section>
	<section id="largeSection"></section>
	<section id="smallSection"></section>

	<aside id="left1Aside"></aside>
	<aside id="left2Aside"></aside>
	<aside id="right1Aside"></aside>
	<aside id="right2Aside"></aside>

	<footer></footer>

</div>

</body>
</html>