html, body {
	margin: 0;
	padding: 0;
}

#container {
	max-width: 100%;
	margin: 5% 10%;
}

header, li, section, aside, footer {
	border: 1px solid grey;
	background-color: lightgrey;
}

header {
	float: left;
	height: 8em;
	width: 25%;
	margin-bottom: 2%;
}

li {
	float: right;
	list-style: none;
	height: 2.5em;
	width: 11%;
	margin: 4% 1.5% 0 0;
}

#leftSideBar {
	clear: both;
	float: left;
	height: 42em;
	width: 18%;
	margin-top: .5%;
	margin-bottom: 2%;
}

#topSection {
	float: right;
	height: 9em;
	width: 79.5%;
	margin-top: .5%;
}

#largeSection {
	float: left;
	height: 18em;
	width: 59%;
	margin-top: 2%;
	margin-left: 2%;
}

#smallSection {
	float: right;
	height: 18em;
	width: 18.2%;
	margin-top: 2%;
}

aside {
	height: 12.2em;
	width: 18.2%;
	margin-top: 2%;
}

#left1Aside {
	float: left;
	margin-left: 2%;
}

#left2Aside {
	float: left;
	margin-left: 2%;
}

#right1Aside {
	float: right;
	margin-left: 2%;
}

#right2Aside {
	float: right;
}

footer {
	clear: both;
	height: 9em;
	width: 100%;
}