/*Three column layout*/

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

#navbar2 {
    background-color: aqua;
    height: 100px;
    margin-top: 25px;
    padding: 1em 0;
    padding: 1em 0;
    text-align: center;
}

#page_layout2 > .row2 >.cols3a {
    background-color: navy;
    height:500px;
    width: 325px;
    margin-top: 15px;
    float: left;
    /*position: absolute;*/
}

#page_layout2 > .row2 >.cols3b {
    background-color: plum;
    height:500px;
    width: 550px;
    margin-top: 15px;
    float: right;
}


#page_layout2 > .row2 >.cols3c {
    background-color: coral;
    height:500px;
    width: 325px;
    margin-top: 15px;
    float: left;
}

#footer > #bottom {
    background-color: pink;
    height: 100px;
    margin-bottom: 500px;
    position: absolute;
}